h1.title{
    text-align: center;
    color :white;
    background-color: darkblue;
}
h3.soccer{
    text-align: center;
    color :white;
    background-color: orangered;
}

h3.rugby{
    text-align: center;
    color :white;
    background-color: orangered;
}

.rink{
    text-align: center;
    color :white;
    background-color: orangered;
}

a{
    color: darkblue;
}

p{
    color: darkblue;
}
